.divider
  flex: 1

.toolbar
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 60px
  display: flex
  align-items: center
  background-color: #f7f1e9
  color: #4b4b4d
  font-weight: 600

.toolbar img
  margin: 0 16px

.toolbar #burg-menu
  margin: 0 16px

.toolbar #burg-menu:hover
  opacity: 0.8

.body
  margin-top: 55px
  float: left
  width: 100%
//
///* Responsive Styles */
//@media screen and (max-width: 767px)
//
//.card-container > *:not(.circle-link) ,
//.terminal
//  width: 100%
//
//
//.card:not(.highlight-card)
//  height: 16px
//  margin: 8px 0
//
//
//.card.highlight-card span
//  margin-left: 72px
//
//
//svg#rocket-smoke
//  right: 120px
//  transform: rotate(-5deg)
//
//
//
//@media screen and (max-width: 575px)
//svg#rocket-smoke
//  display: none
//  visibility: hidden

